version: '3'

volumes:
    db_data:

networks:
    network:
        driver: bridge

services:
    php:
        build:
            context: .
            dockerfile: ./php/dev.Dockerfile
            args:
                DOCKER_HOST_IP: ${DOCKER_HOST_IP:-host.docker.internal}
        image: profteam/php-dev
        container_name: profteam-php
        restart: unless-stopped
        extra_hosts:
            - host.docker.internal:host-gateway
        networks:
        - network
        environment:
            DEVMODE: true
            DB_PASSWORD: ${DB_PASSWORD:-QWEasd123$}
            DB_USER: ${DB_USER:-postgres}
            DB_DATABASE: ${DB_DATABASE:-postgres}
        volumes:
        - ./www:/var/www
        depends_on:
        - db

    db:
        image: postgres:15.0-alpine
        container_name: profteam-postgresql
        restart: unless-stopped
        environment:
            POSTGRES_PASSWORD: ${DB_PASSWORD:-QWEasd123$}
            POSTGRES_USER: ${DB_USER:-postgres}
            POSTGRES_DB: ${DB_DATABASE:-postgres}
        volumes:
        - db_data:/var/lib/postgresql/data
        networks:
        - network
        ports:
        - "${DB_PORT:-5432}:5432"

    adminer:
        image: adminer:4.8.1
        container_name: profteam-adminer
        restart: unless-stopped
        networks:
        - network
        ports:
        - "${ADMINER_PORT:-8080}:8080"

    proxy:
        build:
            context: .
            dockerfile: ./nginx/dev.Dockerfile
            args:
                PHP_PROJECT_DIR: /var/www/${PHP_PROJECT_DIR:-php}
                NGINX_SERVER: ${NGINX_SERVER:-dev.profteam.ru}
                INDEX_FILE_ROUTE: ${INDEX_FILE_ROUTE:-public/index.php}
        image: profteam/nginx-dev
        container_name: profteam-nginx
        restart: unless-stopped
        ports:
            - "${NGINX_PORT:-80}:80"
            - "${NGINX_PORT_SSL:-443}:443"
        networks:
            - network
        volumes:
        - ./www:/var/www
        - ./nginx/logs:/var/log/nginx
        depends_on:
        - php