version: '3'

volumes:
    db_data:

networks:
    default:
        driver: bridge

services:
    proxy:
        image: nginx:1.23.2-alpine
        container_name: profteam-nginx
        restart: unless-stopped
        environment:
            NGINX_HOST: ${NGINX_HOST:-www.profteam.ru}
        volumes:
            - ./nginx/logs:/var/log/nginx
        ports:
            - "${NGINX_PORT:-80}:80"
            - "${NGINX_PORT_SSL:-443}:443"
        networks:
            - default
        depends_on:
        - php

    php:
        build:
            context: .
            dockerfile: ./php/prod.Dockerfile
        image: profteam/php-prod
        container_name: profteam-php
        restart: unless-stopped
        networks:
            - default

    db:
        image: postgres:15.0-alpine
        container_name: profteam-postgresql
        restart: unless-stopped
        environment:
            POSTGRES_PASSWORD: ${DB_PASSWORD:-QWEasd123$}
            POSTGRES_USER: ${DB_USER:-postgres}
            POSTGRES_DB: ${DB_DATABASE:-postgres}
        volumes:
            - db_data:/var/lib/postgresql/data
        networks:
            - default